{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<!-- Hero Section Begin -->
    <section class="hero spad set-bg" style="background-image:url('{{ asset('build/images/fondroselight.jpg') }}')">
        <div class="container">
          
                <div class="mt-5 mb-3">
                    <div class="hero__text">
                        <h1 class="h1-head text-center">Caroline Dubois Wurckler</h1>
                        <h2 class="h2-head text-center">Développeuse Web & Mobile Junior</h2>
{#                         <div class="hero__text d-flex justify-content-center latest__btn">
                        <a href="{{ path('message_new') }}" class="primary-btn normal-btn">Contactez moi !</a>
                        </div> #}
                    </div>
                </div>            
         
        </div>
    </section>
    <!-- Hero Section End -->
    
<!-- Consultation Section Begin -->
    <section class="consultation">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="consultation__form">
                            <img src="{{ asset('build/images/caroline2.jpg') }}" alt="">
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="consultation__text">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="consultation__text__item">
                                    <div class="section-title">                                        
                                        <h2>Qui suis-je<b>?</b></h2>
                                    </div>
                                    <p class="text-justify">Ergothérapeute depuis plus de 10 ans et souhaitant donner 
                                    un nouveau tournant à ma carrière,  je décide d'intégrer la 
                                    Wild Code School pour devenir développeuse web. Je suis 
                                    maintenant à la recherche d'opportunités pour intégrer ce nouveau milieu professionnel.</p>
                                    <p class="text-justify mt-1">Secteur recherché : Eurométropole Nord, Brumath</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="consultation__video set-bg" style="background-image:url('{{ asset('build/images/wild.jpg') }}')"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Consultation Section End -->

    <!-- Chooseus Section Begin -->
    <section class="chooseus spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Pourquoi me choisir ?</span>
                        <h2>Voici mes principales compétences</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <a href="{{ path('home_hardSkills') }}"><img src="{{ asset('build/images/logo/html.svg')}}" alt=""></a>                     
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <a href="{{ path('home_hardSkills') }}"><img src="{{ asset('build/images/logo/css.svg')}}" alt=""></a> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <a href="{{ path('home_hardSkills') }}"><img src="{{ asset('build/images/logo/mysql.svg')}}" alt=""></a> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="chooseus__item">
                        <a href="{{ path('home_hardSkills') }}"><img src="{{ asset('build/images/logo/php.svg')}}" alt=""></a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->

    <!-- Services Section Begin -->
    <section class="services spad set-bg" style="background-image:url('{{ asset('build/images/texturerose.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="section-title">
                        <h2>Mes projets actuels</h2>                       
                    </div>
                </div>
            </div>
            <div class="row">
        {% for project in projects %}                           
                <div class="col-lg-6 col-md-6">
                
                    <div class="services__item" style="width:auto;height:200px;">
                        <div class="services__item__icon">
                            <a href="{{ path('show_project', { slugProject: project.slugProject }) }}"><span class="flaticon-044-aesthetic"><img style="width:200px; heigh:auto" src="/uploads/project/{{ project.projectPicture }}" alt=""></span></a>
                        </div>
                        <div class="services__item__text">
                            <h5>{{ project.title }}</h5>                            
                        </div>
                    </div>

                </div>                
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

                
            </div>
        </div>
    </section>
    <!-- Services Section End -->
    
    <!-- Latest News Begin -->
{#     <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6">
                    <div class="section-title">                        
                        <h2>Les derniers articles</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="latest__btn">
                        <a href="{{ path('home_article') }}" class="primary-btn">Voir le blog</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">Here’s how you can get a natural glow this party season</a></h5>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul>
                            <li><img src="img/blog/blog-author.jpg" alt=""> John Doe</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">Get better skin with these top 10 tips for skin care</a></h5>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul>
                            <li><img src="img/blog/blog-author.jpg" alt=""> John Doe</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="latest__item">
                        <h5><a href="#">8 Ways to Save Your Skin if You Exercise Outside This Winter</a></h5>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul>
                            <li><img src="img/blog/blog-author.jpg" alt=""> John Doe</li>
                            <li>Dec 06, 2019</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> #}
    <!-- Latest News End -->

{% endblock %}
