{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option spad set-bg" style="background-image:url('{{ asset('build/images/fondroselight.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Projets professionnels</h2>
                        <a href="{{ path('home') }}">Home</a>
                        <span>Projets</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Services Section Begin -->
    <section class="services spad set-bg" data-setbg="img/services-bg.jpg">
        <div class="container">

            <div class="row">
            {% for project in projects %}
                <div class="col-lg-6 col-md-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <span class="flaticon-044-aesthetic"></span>
                        </div>
                        <div class="services__item__text">
                            <h2>{{ project.title }}</h2>
                            <p>{{ project.duration }}</p>
                            <h5><a href="{{ project.link1 }}">Démo GitHub</a></h5>
                            <h5><a href="{{ project.link2 }}">Démo Supplémentaire</a></h5>
                            <img style="width:200px" src="/uploads/project/{{ project.projectPicture }}" alt="">
                            

                            <button class="site-btn"><a href="{{ path('show_project', { slugProject: project.slugProject }) }}">Détails du projet</a></button>
                        </div>
                    </div>
                </div>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

            </div>
        </div>
    </section>
    <!-- Services Section End -->

{% endblock %}