    <!-- Footer Section Begin -->
    <footer class="footer">        

        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5 class="h5-footer">Attributs</h5>
                        <ul>
                            <li><a class="a-footer" href="{{ path('home') }}">A propos</a></li>
                            <li><a href="{{ path('home_hardSkills') }}">Hard Skills</a></li>
                            <li><a href="#">Soft Skills</a></li>                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Parcours</h5>
                        <ul>
                            <li><a href="#">Formations</a></li>
                            <li><a href="{{ path('home_experience') }}">Expériences</a></li>
                            <li><a href="{{ path('home_project') }}">Projets</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h5>Contactez-moi !</h5>
                        <ul>
                            <li><a href="{{ path('message_new') }}">Formulaire de contact</a></li>                            
                            <li><a href="{{ path('message_new') }}">c.wurckler@gmail.com</a></li>
                            <li><a href="https://www.linkedin.com/in/carolineduboiswurckler/">Linked In</a></li> 
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-6">
                    <div class="footer__map">                     
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21070.139798222317!2d7.76805804801371!3d48.690810173359644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c72908cd2ac5%3A0x40a5fb99a3955e0!2zSMWTcmR0!5e0!3m2!1sfr!2sfr!4v1615446111537!5m2!1sfr!2sfr" 
                        height="190" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-lg-5">
                        <ul>
                            <li>All Rights Reserved</li>
                            <li>Terms & Use</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->