<!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="header__top__left">
                            <li><i class="fa fa-phone"></i> 1-677-124-44227</li>
                            <li><i class="fa fa-map-marker"></i> Los Angeles Gournadi, 1230 Bariasl</li>
                            <li><i class="fa fa-clock-o"></i> Mon to Sat 9:00am to 18:00pm</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="header__top__right">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-11">
                    <div class="header__menu__option">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="{{ path('home') }}">Home</a></li>
                                <li><a href="{{ path('home_experience') }}">Expérience</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <ul class="dropdown">
                                        <li><a href="{{ path('experience_index') }}">Liste des expériences</a></li>
                                        <li><a href="{{ path('experience_new') }}">Ajouter une expérience</a></li>                                        
                                    </ul>
                                {% endif %}                                
                                </li>
                                <li><a href="{{ path('home_project') }}">Projets</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <ul class="dropdown">
                                        <li><a href="{{ path('project_index') }}">Liste des projets</a></li>
                                        <li><a href="{{ path('project_new') }}">Ajouter un projet</a></li>                                        
                                    </ul>
                                {% endif %}    
                                </li>
                                <li><a href="#">Compétences</a>
                                    <ul class="dropdown">
                                        <li><a href="{{ path('home_hardSkills') }}">HardSkills</a></li>
                                        <li><a href="./doctor.html">SoftSkills</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <ul class="dropdown">
                                        <li><a href="{{ path('hard_skills_index') }}">Liste des HardSkills</a></li>
                                        <li><a href="{{ path('hard_skills_new') }}">Ajouter un HardSkill</a></li>                                        
                                    </ul>
                                {% endif %}                                      
                                    </ul>
                                </li>                                 
                                 <li><a href="{{ path('home_article') }}">Blog</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <ul class="dropdown">
                                        <li><a href="{{ path('article_index') }}">Liste des articles</a></li>
                                        <li><a href="{{ path('article_new') }}">Ajouter un article</a></li>                                        
                                    </ul>
                                {% endif %}    
                                </li>
                                <li>{% if app.user %}
                                        {{ app.user.email }}
                                        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                                    {% else %}
                                        <a href="{{ path('app_login') }}"> Espace administrateur</a>
                                    {% endif %}</li>
                            </ul>
                        </nav>
                        <div class="header__btn">
                            <a href="{{ path('message_new') }}" class="primary-btn">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
