{% extends 'base.html.twig' %}

{% block title %}HardSkills index{% endblock %}

{% block body %}
    <h1>HardSkills index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Picture name</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hard_skill in hard_skills %}
            <tr>
                <td>{{ hard_skill.id }}</td>
                <td>{{ hard_skill.name }}</td>
                <td>{{ hard_skill.description }}</td>
                <td>{{ hard_skill.hardSkillsLogo }}</td>
                <td><img style="width:50px"src="/uploads/{{ hard_skill.hardSkillsLogo }}" alt=""></td>
                <td>
                    <a href="{{ path('hard_skills_show', {'id': hard_skill.id}) }}">show</a>
                    <a href="{{ path('hard_skills_edit', {'id': hard_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hard_skills_new') }}">Create new</a>
{% endblock %}
